.orderDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  padding: 40px;

  &_fullPage {
    margin-top: 120px;
    padding: 0 0 182px;
  }

  &__number {

    &_fullPage {
      justify-self: center;
    }
  }

  &__titleContainer{
    max-height: 98px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      height: 98px;
      background: #2F2F37;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #8585AD;
    }

    &::-webkit-scrollbar-thumb {
      height: 29px;
      background-color: #8585AD;

    }
  }

  &__doneStatus {
    color: #00CCCC;
  }
}


.ingredients {
  margin-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 24px 0 48px;
    max-height: 256px;
    overflow-y: auto;

    &_fullPage {
      max-height: 312px;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      height: 256px;
      background: #2F2F37;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #8585AD;
    }

    &::-webkit-scrollbar-thumb {
      height: 140px;
      background-color: #8585AD;

    }
  }
}

.ingredient {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  margin-right: 24px;

  &__image {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid transparent;
    background:
      linear-gradient(#131316, #131316) padding-box,
      linear-gradient(63.18deg, #801AB2, #4C4CFF) border-box;
  }

  &__priceContainer {
    display: flex;
    gap: 9px;
  }
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}