.burgerIngredients {
  box-sizing: border-box;
  max-height: calc(100vh - 290px);
  overflow-y: auto;

  &__title {
    cursor: default;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #131316;
    height: calc(100vh - 590px);
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    height: calc(100vh - 520px);
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8585AD;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: #2F2F37;
    margin-bottom: 30px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: #2F2F37;
    margin-top: 42px;
  }

  &__menu {
    display: flex;
  }
}

.ingredientsSet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  margin-right: 6px;
}