.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__loadingGif {
    margin: 200px 0 20px;
    width: 140px;
    height: 140px;
    opacity: .7;
  }
}