.header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #1c1c21;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 1240px;
  }

  &__nav {
    display: flex;
    justify-self: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-self: right;
    text-decoration: none;
    color: #8585AD;


    &:hover {
      opacity: 0.7;
    }

    &_active {
      color: #F2F2F3;
    }
    
  }
}